[submodule "bitbake"]
	path = repos/bitbake
	url = https://github.com/madisongh/bitbake
	branch = 1.40
[submodule "oe-core"]
	path = repos/openembedded-core
	url = https://github.com/madisongh/openembedded-core
	branch = thud
[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/madisongh/meta-tegra
	branch = thud-l4t-r32.1
[submodule "repos/meta-openembedded"]
	path = repos/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = thud
