SCONF_VERSION = "2"

SSTATE_MIRRORDIR ?= "s3://autobuilder-artifacts/test-distro/sstate_mirror"
DOWNLOADS_MIRRORDIR ?= "s3://autobuilder-artifacts/test-distro/downloads"
UNINATIVE_MIRRORDIR = "${DOWNLOADS_MIRRORDIR}/uninative/${@d.getVarFlag('UNINATIVE_CHECKSUM', d.getVar('BUILD_ARCH', True), True)}"

SSTATE_MIRRORS ?= "\
file://.* ${SSTATE_MIRRORDIR}/PATH"

PREMIRRORS = "\
ftp://.*/.*   ${DOWNLOADS_MIRRORDIR}/ \n \
http://.*/.*  ${DOWNLOADS_MIRRORDIR}/ \n \
https://.*/.* ${DOWNLOADS_MIRRORDIR}/ \n \
bzr://.*/.*   ${DOWNLOADS_MIRRORDIR}/ \n \
cvs://.*/.*   ${DOWNLOADS_MIRRORDIR}/ \n \
git://.*/.*   ${DOWNLOADS_MIRRORDIR}/ \n \
gitsm://.*/.* ${DOWNLOADS_MIRRORDIR}/ \n \
hg://.*/.*    ${DOWNLOADS_MIRRORDIR}/ \n \
osc://.*/.*   ${DOWNLOADS_MIRRORDIR}/ \n \
p4://.*/.*    ${DOWNLOADS_MIRRORDIR}/ \n \
svn://.*/.*   ${DOWNLOADS_MIRRORDIR}/ \n \
${UNINATIVE_URL}${UNINATIVE_TARBALL} ${UNINATIVE_MIRRORDIR}/${UNINATIVE_TARBALL} \n"

MIRRORS =+ "\
ftp://.*/.*      ${DOWNLOADS_MIRRORDIR}/ \n \
http://.*/.*     ${DOWNLOADS_MIRRORDIR}/ \n \
https://.*/.*    ${DOWNLOADS_MIRRORDIR}/ \n \
${UNINATIVE_URL}${UNINATIVE_TARBALL} ${UNINATIVE_MIRRORDIR}/${UNINATIVE_TARBALL} \n"
